.MenuItem{
    display:flex;
    height:40px;
    float:right;
    align-items: center;
    box-sizing: border-box;
    justify-content:space-between;
    margin-left: 2px;

   
}
.MenuItem img{ 
    width: 30px;
}
.MenuItem a{
    font-family: sans-serif;
    text-decoration: none; 
    font-size: 14px;
    color:#252525;
}
.MenuItem a:hover{
   color: red;
}@media (max-width: 600px) {
 
    .MenuItem a{
        width: 0px;
        opacity: 0;
    }
}
   
