.Menu {
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
   
  align-items: center;
  box-sizing: border-box;
  justify-content:flex-end;
}
@media(max-width:600px){
  .Menu{
    width: 140px;
  }
}
