.TopbarItem{
    display: inline;
    float: right;
    font-size: 11px;
    font-family: sans-serif;
    padding: 5px 8px;
    opacity: 0.8;
}
.TopbarItem:hover {
    cursor: pointer;
    color:red;
    opacity: 1;
}