.Toolbar{
    display: flex;
  	flex-wrap: nowrap;
  	height:64px;
  	padding: 8px 50px;/*2 taliih*/
  	align-items: center;
	box-sizing: border-box;	  
	border-bottom: 1px solid #d0d6d6;
	justify-content: space-between;
}
@media(max-width:600px){
	.Toolbar{
		padding: 8px 10px;/*2 taliih*/
	}
}
