.ProductMenu {
  height: 45px;
  width: 90%;

  display: flex;
  flex-wrap: wrap;

  margin: 0;
}
@media (max-width: 600px) {
  .ProductMenu {
    display: none;
  }
}
.wid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 0px 0px;
}
