.Search{
        background-color: #efefef;
        height: 40px;     
        border-radius: 50px;
        border: none;
        width: 30%;
        display: inline-block; 
        margin:6px ;
             
}
.Search input {
     background-color: #efefef;
     position: absolute;
     width: 24%;
     height: 40px;      
     border: none;
     border-bottom-left-radius:50px;
     border-top-left-radius:50px;
     padding-left:15px;
     outline: none;
}  
.Search img{
       width: 100%;
}
.imgdiv{      
        position: absolute;
        margin-left: 24%;
        margin-top:0.6%;
        width: 2%;
}