.Search{
        border-radius: 50px;
        position: absolute;
        margin-left: 180px;
        width:30%;
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
        background-color: #ebf0f3;
        border-color: #95a7b9;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        transition: all .2s ease-in;   
}
.imgdiv{
   margin-right: 10px;
}
.Search input{
        font-size: 14px;
        background-color: #ebf0f3;
        width:100%;     
        border-bottom-left-radius: 50px;
        border: none;
        border-top-left-radius: 50px;
        height: 80%;  
        outline: none;
        padding:0 10px;
}
.Search:hover{
        border-color: #95a7b9;
}

@media (max-width:780px) {
        .Search{
                display:none;
        }
}